body{
    background-image: linear-gradient(#8b9da9, #fff6e4);
	box-shadow: inset 0 0 100px hsla(0,0%,0%,.3);
}
li {
	display:inline
}
 table, th,td, ul, li{
    border:2px solid white;
	border-width: 1px;
}
ul {
	padding:10px;
}
a:link{
	color: white;
	background-color:transparent;
	text-decoration: none;
}
a:visited{
	color:white;
	background-color:transparent;
	text-decoration:none;
}
a:hover{
	color:yellow;
	background-color:transparent;
}
a:active{
	color:yellow;
	background-color:transparent;
	text-decoration:underline;
}
img{
	width:660px;
	height:460px;
}
.skema, th, td{
	border:2px solid black;
}
.Skygarden{
	border-radius: 25px;
	border:2px solid black;
	width:460px;
	height:260px;
}
.Box1{
	border-radius: 25px;
	border:2px solid black;
    background:white;
    background-position: left top;
    background-repeat: repeat;
    padding: 20px; 
    width: 425px;
    height: 100px;
	}
	.Tower {
		border-radius: 25px;
		border:2px solid black;
		width:460px;
		height:260px;
		position:relative;
		left: 860px;
		right:50px;
	}
	.Box2{
	border-radius: 25px;
	border:2px solid black;
    background:white;
    background-position: left top;
    background-repeat: repeat;
    padding: 20px; 
    width: 425px;
    height: 100px;
	position:relative;
	left:860px;
	right:50px;
	}