body{
    background-color:white
}
li {
	display:inline
}
 table, th,td, ul, li{
    border:2px solid white;
	border-width: 1px;
}
ul {
	padding:10px;
}
a:link{
	color: white;
	background-color:transparent;
	text-decoration: none;
}
a:visited{
	color:white;
	background-color:transparent;
	text-decoration:none;
}
a:hover{
	color:white;
	background-color:transparent;
	text-decoration: underline;
}
a:active{
	color:yellow;
	background-color:transparent;
	text-decoration:underline;
}
img{
	width:460px;
	height:345px;
}